.cardInput{
    padding: 24px;
    background: #ffffff;
    margin-bottom: 30px;

}

.title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #005EA4;
    margin-bottom: 24px;

}

.groupInput{
    display: flex;
    justify-content: space-between;
}

.subGroup{
    display: flex;
    flex-direction: column;
    width: 30%;

}

 .buttonResearch{
    display: flex;
    flex-direction: column;
    width: 5%;

 }

.campo{
    height: 51px;
    display: flex;
    border: 1px solid #8D97A0;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    background: #0030FF;
    height: 51px;
    border-radius: 4px;
    margin-top: 28px;
}

.textButton{
    display: none;
}

.iconButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@media(max-width:600px){

    .groupInput{
        display: flex;
       flex-direction: column;
        
    }  

    .subGroup{
        display: flex;
        flex-direction: column;
        width: 90%;
    
    }

    .buttonResearch{
        display: flex;
        flex-direction: column;
        width: 90%;
    
     }

     .iconButton{
         display: none;
     }

     .textButton{
         display: block;
     }

}
